<h2>My Heroes</h2>
<ul class="heroes">
<!--  The Angular class binding makes it easy to add and remove a CSS class conditionally.-->
  <li [class.selected] = "hero === selectedHero"
      *ngFor = "let hero of heroes"
      (click) = "onSelect(hero)">
    <span class = "badge"> {{hero.id}} </span> {{hero.name}}
  </li>
</ul>

<!--[hero]="selectedHero" is an Angular property binding.-->
<!--https://angular.io/guide/template-syntax#property-binding-->
<app-hero-detail [hero] = "selectedHero"></app-hero-detail>
